
<!-- Country serch input --->
<!-- <section class="flex flex-row gap-2 mt-2">
  
  <input
    type="text"
    class="input input-bordered mr-2 w-56" 
    placeholder="Search by capital"
     autofocus  
     #txtSearch 
     (keyup.enter)="onChange(txtSearch.value)"
  /> 

    <button class="btn btn-primary">
    Search
    </button>s
</section> -->

<country-search-input  (value)="onChange($event)"   placeholder="Search by capital of my contry"></country-search-input>

<!-- Country list --->

<country-list></country-list>
